
<h2>Liste des clients:</h2>
<h3><%= link_to 'Envoyer le mail à tous les clients', mails_clients_path(), data: {confirm: "Realy ? ;)"}, class: "btn btn-default" %></h3>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom du client</th>
      <th>Prénom du client</th>
      <th>email</th>
      <th>tel</th>
      <th>adresse</th>
      <th>Action</th>
    </tr>
  </thead>
<tbody>
  <% @clients.each do |client|%>
    <tr>
      <td><%= client.id %></td>
      <td><%= client.lastname %></td>
      <td><%= client.firstname %></td>
      <td><%= client.email %></td>
      <td><%= client.tel %></td>
      <td><%= client.address %></td>
      <td><%= link_to 'Show', client_show_path(:id => client.id, :slug => client.firstname+'-'+client.lastname), class: "btn btn-default" %> - <%= link_to 'Edit', client_update_path(:id => client.id, :slug => client.firstname+'-'+client.lastname), class: "btn btn-warning" %> - <%= link_to "delete client", client_path(:id =>client.id), method: :delete, data: {confirm: "Realy ? ;("}, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New client", {controller: "clients", action: "new" }, class: "btn btn-primary" %>
