<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= @client.firstname %> <%= @client.lastname %></h2>
    <p><%= @client.email %></p>
    <p><%= @client.tel %></p>
    <p><%= @client.address %></p>
    <p>Création : <%= @client.created_at %></p>
    <p>Maj : <%= @client.updated_at %></p>
  </div>
</div>


