<div class="panel panel-default">
  <div class="panel-body">
    <% totalCommande = 0 %>
    <h2><%= @order.title %></h2>
    <% @order.cart.carts_products.each do |productCart| %>
    <p><%=" #{productCart.product.title} : #{productCart.quantity.round(0)}" %><br>
      <% total = productCart.product.total %>
      Prix individuel : <%= total %> €<br>
      Prix total : <%= total * productCart.quantity %> €</p>
      <% totalCommande += total * productCart.quantity %>
    <% end %>
    <p>Total de la commande : <span><%= totalCommande %> €</span></p>
    <p>Date de la commande : <%= @order.created_at.strftime("%m/%d/%Y") %></p>
  </div>
</div>
