<%# Gestion des erreurs %>

<% if @product.errors.any? %>
    <h2><%= pluralize(@product.errors.count, "erreur") %></h2>
    <ul>
        <% @product.errors.each do |attr, msg| %>
            <li><%= "#{attr} #{msg}\n" if @product.errors[attr].first == msg %></li>
        <% end %>
    </ul>
<% end %>


<%= form_for @product, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label"><%= f.label :title %></label>
        <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label"><%= f.label :description %></label>
        <div class="col-sm-10">
            <%= f.text_area :description, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label"><%= f.label :marge %></label>
        <div class="col-sm-10">
            <%= f.text_field :marge, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
		<label class="col-sm-2 control-label">Ingredients</label>
        <% allPrice = [] %>
    		<% @ingredients.each do |i|%>
    			<div class="checkbox">
    				<div class="col-sm-offset-2 col-sm-10">
    					<label>
                        <%
                            checked = @product.ingredients.map(&:id).include?(i.id) ? true : false


                            if checked
                                allPrice.push(i.price)
                            end

                         %>
    						<%= check_box_tag "product[ingredients][]", i.id, checked, { id: "product_"+i.title } %>
                            <%= f.label i.title, i.title + ' ' +i.price.to_s + ' €'  %>
    					</label>
    				</div>
    			</div>
    		<% end %>
		</div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "ajouter", class: "btn btn-default" %>
        </div>
    </div>

<strong id="price"><%
count = 0

allPrice.each do |price|
    count += price
end %>
<%
    if @product.marge
        marge = @product.marge
    else
        marge = 0
    end

 %>
<%= count + marge %> €</strong>
<% end %>

