
<h2>Liste des produits :</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom du produit</th>
      <th>Prix</th>
      <th>Action</th>
    </tr>
  </thead>
<tbody>
  <% @products.each do |product|%>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.title %></td>
      <td><span class="badge">
      <% total = product.total %>
      <%= total %> €</span></td>
      <td><%= link_to 'Show', product_show_path(:id => product.id, :slug => product.slug), class: "btn btn-default" %> - <%= link_to 'Edit', product_update_path(:id => product.id, :slug => product.slug), class: "btn btn-warning" %> - <%= link_to "delete product", product_path(:id => product.id), method: :delete, data: {confirm: "Realy ? ;("}, class: "btn btn-danger" %> - <%= link_to "Add To Cart", add_to_cart_path(product.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New product", { controller: "products", action: "new" }, class: "btn btn-primary" %>


