
<h2>Liste des produits :</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom du produit</th>
      <th>Prix</th>
      <th>Action</th>
    </tr>
  </thead>
<tbody>
  <% @products.each do |product|%>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.title %></td>
      <td><span class="badge">
      <%
        total = 0
        product.ingredients.each do |ingredient|
          total += ingredient.price
        end
        total += product.marge
      %>
      <%= total %> €</span></td>
      <td><%= link_to 'Show', product, class: "btn btn-default" %> - <%= link_to 'Edit', edit_product_path(product), class: "btn btn-warning" %> - <%= link_to "delete product", product, method: :delete, data: {confirm: "Realy ? ;("}, class: "btn btn-danger" %> - <%= link_to "Add To Cart", addToCart_path(product.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New product", { controller: "products", action: "new" }, class: "btn btn-primary" %>


