<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= @product.title %></h2>
    <p><%= @product.description %></p>
    <p>Création : <%= @product.created_at.strftime("%m/%d/%Y %H:%M:%S") %></p>
    <p>Maj : <%= @product.updated_at.strftime("%m/%d/%Y %H:%M:%S") %></p>
    <span class="badge"><%= @product.total %> €</span>

    <% if @product.image != nil %>
    	<%= image_tag("products/"+@product.image, :class => "thumb") %>
    <% end %>
  </div>
</div>
